asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
Django==5.2.17
gunicorn==26.2.0
idna==3.20
joblib==1.6.0
narwhals==2.26.0
numpy==2.4.6
pandas==3.0.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.4
requests==2.34.2
scikit-learn==1.9.1
scipy==1.17.1
six==1.17.0
sqlparse==0.6.0
threadpoolctl==3.7.0
urllib3==2.8.0
whitenoise==6.12.0
