<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="icon" href="{% static 'img/site-pic.ico' %}" type="image/icon type"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Weather Forecast</title>
</head>
<body>
    <main class="{{ description }}">
        <section class="side-container">
            <form method="POST">
                {% csrf_token %}
                <div class="search-container">
                    <div style="width: 22px; height: 22px; color: white;" class="weather-icon">
                        <i class="bi bi-cloud-fog"></i>
                    </div>
                    <input 
                       type="text"
                       name="city"
                       class="geo-input"
                       placeholder="ex. Lahore England"
                       value="{{ location }}"
                    />
                    <button class="search-button">
                        <div style="width: 25px; height: 25px; color: white;">
                            <i class="bi bi-search"></i>
                        </div>
                    </button>
                </div>
            </form>
            <div class="day-stats">
                <h2 class="day-stats___temperature">
                    <span class="day-stats___temperature_value">{{ current_temp }}</span>
                </h2>
                <h3 class="day-stats___feelslike">
                    Feels like:&nbsp&nbsp<span class="day-stats___feelslike_value">{{ feels_like }}</span>
                </h3>
                <ul class="day-stats_conditions">
                    <li>
                        <p class="day-stats_conditions">
                            <span class="day-stats___humidity">{{ humidity }}</span>%
                        </p>
                        <p class="day-stats___humidity_text">of humidity</p>
                    </li>
                    <li>
                        <p class="day-stats_condition">
                            <span class="day-stats___clouds">{{ clouds }}</span>%
                        </p>
                        <p class="day-stats___clouds_text">of clouds</p>
                    </li>
                </ul>
            </div>
            <img src="{% static 'img/side-blur.png' %}" class="side-blur" alt="blur"/>
        </section>

        <section class="main-container">
            <h4 class="secondary-title">Weather Forecast</h4>
            <h1 class="weather___primary-title">{{ description }}</h1>
            <div class="weather__location">
                <div style="width: 15px; height: 15px; color: white;" class="location-icon">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <p class="weather__location-text">
                    <span class="weather__location-city">{{ city }}</span>
                    <span class="weather__location-country">{{ country }}</span>
                    <span class="weather__location-date">{{ time }}</span>
                </p>
            </div>
            <p class="weather___primary-stats">
                Wind 
                <span class="weatherWindKph">{{ wind }}</span> kilometers per hour. Pressure
                is <span class="weatherPressure">{{ pressure }}</span> mb. Visibilitiy is
                <span class="weatherSnow">{{ visibility }}</span>. Maximum temperature is 
                <span class="weatherMaxTemp">{{ MaxTemp }}</span>. Minimum temperature is 
                <span class="weatherMinTemp">{{ MinTemp }}</span>.
            </p>

            <ul class="forecast">
                <li class="forecast-item">
                    <p class="forecast-time">{{ time1 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp1 }}</span>
                    </p>
                    <p class="forecastWindText">
                        Humidity: <span class="forecast-humidityValue">{{ hum1 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time2 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp2 }}</span>
                    </p>
                    <p class="forecastWindText">
                        Humidity: <span class="forecast-humidityValue">{{ hum2 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time3 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp3 }}</span>
                    </p>
                    <p class="forecastWindText">
                        Humidity: <span class="forecast-humidityValue">{{ hum3 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time4 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp4 }}</span>
                    </p>
                    <p class="forecastWindText">
                        Humidity: <span class="forecast-humidityValue">{{ hum4 }}</span>
                    </p>
                </li>
                <li class="forecast-item">
                    <p class="forecast-time">{{ time5 }}</p>
                    <p class="forecast-temperature">
                        &nbsp;<span class="forecast-temperatureValue">{{ temp5 }}</span>
                    </p>
                    <p class="forecastWindText">
                        Humidity: <span class="forecast-humidityValue">{{ hum5 }}</span>
                    </p>
                </li>
            </ul>

            <canvas id="chart" height="45px"></canvas>
        </section>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'js/chartSetup.js' %}"></script>
</body>
</html>